.ordering-container {
  height: 100vh;
  overflow: hidden;
}

.ordering-list {
  display: flex;
  height: calc(100% - 100px);
  overflow: hidden;
}

.ordering-view {
  flex: 1
}

.ordering-category-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 20%;
  flex-shrink: 0;
  max-width: 150px;
  border-right: 1px solid #ccc;
}

.ordering-product-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.shopping-cart {
  height: 100px;
}