$cart-height: 100px;

.ordering-container {
  height: 100vh;
  overflow: hidden;
}

.ordering-list {
  display: flex;
  height: calc(100% - $cart-height);
  overflow: hidden;
}

.ordering-view {
  flex: 1
}

.ordering-category-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 20%;
  flex-shrink: 0;
  max-width: 150px;
}

.ordering-product-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.shopping-cart {
  height: $cart-height;
}