$horizontal-gap: 20px;
$vertical-gap: 30px;

.category-item {
  font-size: 25px;
  padding: $vertical-gap $horizontal-gap;
  color: #aaa;

  &.selected {
    color: #000;
    border-right: 1px solid #000;
  }
}